In [1]:
print(input("Nama: "))
print(input("NIM: "))
print(input("Kelas: "))

Muhammad Hafizh Fatihurrizqi
I0322137
D

## 1.

diketahui dimensi sebuah aquarium tanpa penutup atas sebagai berikut:

```python
p = 11
l = 1.99
t = 25.87
```
buatkan program sederhana untuk menghitung diagonal tiap sisi dan luas permukaan aquarium tersebut tanpa menggunakan module math.

In [3]:
#diketahui dimensi sebuah aquarium
p = 11
l = 1.99
t = 25.87

#program untuk menghitung diagonal tiap sisi aquarium
print("==================================================")
depan = "diagonal sisi depan aquarium"
samping = "diagonal sisi samping aquarium"
bawah = "diagonal sisi bawah aquarium"

depan = float((p**2 + t**2)**0.5)
samping = float((l**2 + t**2)**0.5)
bawah = float((p**2 + l**2)**0.5)
print("panjang diagonal sisi depan aquarium adalah =", depan)
print("panjang diagonal sisi samping aquarium =", samping)
print("panjang diagonal sisi bawah aquarium =", bawah)

print("==================================================")
#luas permukaan aquarium
luas_permukaan_aquarium = float((p*l+ 2*(p*t)+(l*t)))
print("maka luas permukaan aquarium tanpa tutup adalah =", luas_permukaan_aquarium)
print("==================================================")

==================================================
panjang diagonal sisi depan aquarium adalah = 28.11150831954771
panjang diagonal sisi samping aquarium = 25.946425572706545
panjang diagonal sisi bawah aquarium = 11.17855536283647
==================================================
maka luas permukaan aquarium tanpa tutup adalah = 642.5113
==================================================

## 2.

diberikan data nilai mahasiswa sebagai berikut:

In [5]:
nilai = {
    'Frank': 80,
    'Abagnale': 75,
    'Cobb': 90,
    'Andy Dufresne': 85,
    'Ariadne': 70
}

#mencari rata-rata nilai
x = "rata-rata"
y = "nilai tertinggi"
z = "nilai terendah"
#indikator
a = "mahasiswa nilai tertinggi"
b = "mahasiswa nilai terendah"

print("=========================")
x = float (sum(nilai.values()))/len (nilai.values())
print("rata-rata keseluruhan nilai adalah =", x)

#nilai tertinggi
y = max(nilai.values())
print("nilai tertinggi dari seluruh nilai adalah", y)
#mahasiswa nilai tertinggi
a = max(nilai, key=nilai.get)
print("mahasiswa dengan nilai tertinggi adalah", a)
#nilai terendah
z = min(nilai.values())
print("nilai terendah dari seluruh nilai adalah", z)
#mahasiswa nilai terendah
b = min(nilai, key=nilai.get)
print("mahasiswa dengan nilai terendah adalah", b)
print("=========================")

=========================
rata-rata keseluruhan nilai adalah = 80.0
nilai tertinggi dari seluruh nilai adalah 90
mahasiswa dengan nilai tertinggi adalah Cobb
nilai terendah dari seluruh nilai adalah 70
mahasiswa dengan nilai terendah adalah Ariadne
=========================

buatlah program sederhana untuk menghitung nilai rata-rata semua mahasiswa dan mencari siapa yang mendapatkan nilai tertinggi dan nilai terendah. 
> *note: tidak perlu menggunakan loops untuk membuat program nya*

## 3.

diberikan list aslab sebagai berikut:
```python
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
```
* **A** Tuliskan kode untuk mengakses informasi tentang "nama" dari semua aslab mulai dari index 1 sampai 5
* **B** Tambahkan informasi berikut pada data aslab:
```python
    surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]
```
> *note: kalian hanya boleh menggunakan key-value pair yang disebutkan di dalam teks, tanpa menggunakan informasi tambahan yang diambil pada list yang ada*

In [1]:
list_aslab = [
    {"nama": "Berlian Safri Prakoso", "nim": "I0320017", "kontak": "0858XXXXXXXX"},
    {"nama": "Halidya Siti Hanifah", "nim": "I0320044", "kontak": "0878XXXXXXXX"},
    {"nama": "Nurki Putra Mahardika", "nim": "I0320076", "kontak": "0877XXXXXXXX"},
    {"nama": "Aji Manarul Aziz", "nim": "I0320119", "kontak": "0812XXXXXXXX"},
    {"nama": "Alica Ayu Fitriani", "nim": "I0320121", "kontak": "0896XXXXXXXX"},
    {"nama": "Dendy Halim Kusuma", "nim": "I0320125", "kontak": "0822XXXXXXXX"}
]
#kode untuk mengakses informasi nama aslab index 1 sampai 5
print("================================")
for x in range (1,6) :
    print(list_aslab[x]["nama"])
print()
print("================================")

#Menambahkan informasi surel pada data
surel = ["berlian@student.uns.ac.id",
          "halidya@student.uns.ac.id",
          "nurki@student.uns.ac.id",
          "manarul@student.uns.ac.id",
          "alica@student.uns.ac.id",
          "dendy@student.uns.ac.id"]

print()
for x in range (len(list_aslab)) :
    list_aslab[x]["surel"] = surel[x]
for list_aslab_email in list_aslab :
    print(list_aslab_email)
print("================================")

================================
Halidya Siti Hanifah
Nurki Putra Mahardika
Aji Manarul Aziz
Alica Ayu Fitriani
Dendy Halim Kusuma

================================

{'nama': 'Berlian Safri Prakoso', 'nim': 'I0320017', 'kontak': '0858XXXXXXXX', 'surel': 'berlian@student.uns.ac.id'}
{'nama': 'Halidya Siti Hanifah', 'nim': 'I0320044', 'kontak': '0878XXXXXXXX', 'surel': 'halidya@student.uns.ac.id'}
{'nama': 'Nurki Putra Mahardika', 'nim': 'I0320076', 'kontak': '0877XXXXXXXX', 'surel': 'nurki@student.uns.ac.id'}
{'nama': 'Aji Manarul Aziz', 'nim': 'I0320119', 'kontak': '0812XXXXXXXX', 'surel': 'manarul@student.uns.ac.id'}
{'nama': 'Alica Ayu Fitriani', 'nim': 'I0320121', 'kontak': '0896XXXXXXXX', 'surel': 'alica@student.uns.ac.id'}
{'nama': 'Dendy Halim Kusuma', 'nim': 'I0320125', 'kontak': '0822XXXXXXXX', 'surel': 'dendy@student.uns.ac.id'}
================================